<!-- your html code here -->
<div class="container-fluid p-5 my-5 border-top">
    <div class="header">
        <h2>Contact</h2>
        <p>En el fondo, la clave es ofrecer una experiencia usable, incluso cuando las imágenes no puedan verse. Esto
            asegura que ningún usuario pierda ninguna parte del contenido. Desactiva las imágenes en tu navegador y
            observa cómo se ven las cosas. Te darás cuenta de lo útil que resulta el texto alternativo cuando no es
            posible ver la imagen.</p>
    </div>
</div>
<div class="container">
    <div class="card d-flex justify-content-center">
        <div class="card-header">
            <div class="mb-3 row">
                <div class="col-3">
                    <label for="email" class="col-form-label d-flex justify-content-end"><strong>Your
                            Email</strong></label>
                </div>
                <div class="col-9">
                    <input type="password" class="form-control" id="email" placeholder="Your Email">
                </div>

            </div>
            <div class="mb-3 row">
                <div class="col-3">
                    <label for="text" class="col-form-label d-flex justify-content-end"><strong>Your
                            Message</strong></label>
                </div>
                <div class="col-9">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="text"
                            style="height: 150px"></textarea>
                        <label for="floatingTextarea">Please enter your message here</label>
                    </div>
                </div>
            </div>
            <div class="button d-flex justify-content-end">
                <a href="#" class="btn btn-primary ">Submit</a>
            </div>
        </div>

    </div>
</div>