<!-- your html code here -->
<div class="container py-5 border-top">
    <div class="row d-flex px-5">
        <div class="col-8">
            <h2>The First Heading Will Catch Your Eye</h2>
            <p>Es un proceso químico a través del cual la materia inorgánica se transforma en materia orgánica, a partir
                de la energía de la luz. En este proceso se generan moléculas de glucosa a partir del dióxido de carbono
                y el agua, por un lado, y se libera oxígeno como subproducto, por el otro.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/1.jpg" style="border-radius: 150px; width:300px; height:300px;">
        </div>
    </div>
</div>
</div>