<!-- your html code here -->
<div class="row border-top">
    <div class="col-12 pt-5">
        <h2 class="fw-bolder">Portfolio</h2>
        <span class="fs-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam, ducimus veritatis expedita est, autem
            voluptatum harum neque cupiditate ex ipsum necessitatibus pariatur sint mollitia placeat, in odit aut.
            Libero.</span>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100  border-0">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-4 fw-bolder">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo dicta
                        doloremque,
                        culpa esse id voluptates aut nostrum tenetur. Cumque unde velit obcaecati inventore eligendi
                        temporibus, assumenda consequuntur optio dolorem ipsa.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100  border-0">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-4 fw-bolder">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, aliquam rem.
                        Aut
                        tempora doloribus blanditiis molestiae eum ipsam, dolore voluptate alias, repudiandae eligendi
                        nostrum rerum dicta nobis? Soluta, dignissimos magnam?</p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card h-100  border-0">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title fs-4 fw-bolder">Project Name</h5>
                    <p class="card-text ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi non quam maxime
                        quidem quod repellat consequuntur consectetur! Error maiores ut nobis impedit quas rem assumenda
                        in
                        perspiciatis quod sint. Aspernatur!</p>
                </div>

            </div>
        </div>
    </div>
</div>