<!-- your html code here  -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner position-relative d-flex ">

        <img src="assets/img/bg.jpg" class="d-block w-100 " style="height:700px" alt="Wide-city">
        <div
            class="position-absolute  bottom-50 start-50 w-100 text-center align-items-center translate-middle-x">
            <h1 class=" py-3 mx-2 mt-5  display-1 fw-bolder  bg-white ">
                One Page Wonder</h1>

            <h3 class="py-1 mx-2  mt-5 display-2 fw-bolder  bg-white ">
                Will Knock Your Socks Offs</h3>
        </div>

    </div>
</div>